<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/register.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Contacto | CARPYFOOD</title>
  </head>

  <body class="bg-gray-700 flex justify-center items-center h-screen">
    <div class="max-w-lg w-full bg-white shadow-lg rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">
        Contáctanos
      </h2>
      <p class="text-gray-600 text-center mb-6">
        ¿Tienes preguntas? Envíanos un mensaje.
      </p>

      <form action="{{ url_for('contacto') }}" method="POST">
        <!-- Nombre Completo -->
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="nombre"
            >Nombre Completo</label
          >
          <input
            type="text"
            id="nombre"
            name="nombre"
            placeholder="Tu nombre completo"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
            required
          />
        </div>

        <!-- Correo Electrónico -->
        <div class="mb-4">
          <label class="block text-zinc-700 font-medium mb-2" for="email"
            >Correo Electrónico</label
          >
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Tu correo electrónico"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
            required
          />
        </div>

        <!-- Teléfono -->
        <div class="mb-4">
          <label class="block text-zinc-700 font-medium mb-2" for="telefono"
            >Número de Teléfono</label
          >
          <input
            type="tel"
            id="telefono"
            name="telefono"
            placeholder="Tu número de teléfono"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
          />
        </div>

        <!-- Motivo de Contacto -->
        <div class="mb-4">
          <label class="block text-zinc-900 font-medium mb-2" for="motivo"
            >Motivo de Contacto</label
          >
          <select
            id="motivo"
            name="motivo"
            class="w-full px-4 py-2 border text-zinc-900 border-gray-300 rounded-lg focus:outline-none focus:border-blue-600"
          >
            <option value="" disabled selected>Selecciona un motivo</option>
            <option value="consulta">Consulta</option>
            <option value="soporte">Soporte Técnico</option>
            <option value="feedback">Feedback</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <!-- Mensaje -->
        <div class="mb-6">
          <label class="block text-gray-700 font-medium mb-2" for="mensaje"
            >Mensaje</label
          >
          <textarea
            id="mensaje"
            name="mensaje"
            rows="4"
            placeholder="Escribe tu mensaje aquí..."
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
            required
          ></textarea>
        </div>

        <!-- Botón de Enviar -->
        <div
          class="flex flex-col sm:flex-row gap-1 justify-center items-center"
        >
          <button
            type="submit"
            class="bg-yellow-500 text-black px-8 py-3 rounded-lg hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50"
          >
            Enviar Mensaje
          </button>
          <a
            href="{{ url_for('index') }}"
            class="bg-green-700 text-white px-6 py-2 rounded-lg hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
          >
            Volver a Inicio
          </a>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='javascript/Validar_Form_contacto.js') }}"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
